body {
    background: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.image {
    margin-right: 40px;
}

.bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.description {
    width: 50%;
    margin-right: 40px;
    margin-left: 40px;
}